 <%if user_signed_in? %>
<h1>What's on your mind?</h1>

<%= render 'form', post: @post %>

<%#= link_to 'Back', posts_path %>
<!-- 
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @posts.each do |post| %>
      <tr>
        <td><%#= post.message %></td>
      </tr>
        <tr><td><%#= link_to 'Edit', edit_post_path(post) %></td>
        <td><%#= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    -->    
    <%# end %>
          <!-- 
  </tbody>
</table> -->

          <% end %>
